{% extends "base-bootstrap.html" %}

{% block title %}
Create Student - ModelForm
{% endblock %}

{% block content %}

<h2>Create Student (ModelForm)</h2>

<form method="POST">

    {% csrf_token %}

    <p>
    {{ form.name.label_tag }}
    {{ form.name }}
    {{ form.name.errors }}
    </p>

    <p>
    {{ form.age.label_tag }}
    {{ form.age }}
    {{ form.age.errors }}
    </p>

    <p>
    {{ form.course.label_tag }}
    {{ form.course }}
    {{ form.course.errors }}
    </p>

    <p>
        {{ form.non_field_errors }}
    </p>

    <button
        type="submit"
        class="btn btn-success">
        Save Student
    </button>

</form>

{% endblock %}